/*ベース*/
* {
	margin:0;
	padding:0;
}

body {
	background-color: #FAFAFB;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
/*レイアウト*/
.ly_cont {
  margin:0 auto;
	margin-top:20px;
  padding-top:10px;
  padding-bottom:10px;
	text-align: center;
	width: 460px;
	background: #fff;
	box-shadow:5px 5px 10px;
}
/*モジュール*/
.file-input {
	color: #828a91;
}

.file-input .main-title {
  font-size:18px;
  margin-top:20px;
  line-height: 27px;
  color:#4F4F4F;
  /* letter-spacing: -0.07em; */
}

.file-input .sub-title {
  font-size:9px;
  margin-top:10px;
  color:#4F4F4F;
  /* letter-spacing: -0.07em; */
}

.file-input .image-wrapper {
  margin-left :30px;
  margin-right:30px;
  margin-top:1em;
  margin-bottom:1em;
  padding: 100px 0;
	background-color: #F6F8FB;
	border: 2px dashed;
	border-color: #97BEF4;
	border-radius: 8px;
}

.file-input .image-wrapper.drag {
	background-color: #f0f0f0;
}

.upload-file {
  display: inline-block;
  cursor: pointer; /* カーソルを指に */
  margin: 1em 0; /* まわりの余白 */
  padding: .7em 1em; /* 文字まわりの余白 */
  line-height: 1.4; /* 行間 */
  background: #3e8bff; /* 背景色 */
  color: #FFF; /* 文字色 */
  font-size: 0.95em; /* フォントサイズ */
  border-radius: 2.5em; /* 角の丸み */
  transition: 0.2s; /* ホバーをなめらかに */
}

.upload-file:hover {
  box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.2); /* 影を表示 */
}
.upload-file input {
  display:none;
}

.result {
  display:none;
	padding: 30px;
	color: #828a91;
}

.result .copylink {
  width:70%;
  padding:10px 15px;
  border-radius:3px;
  border: 2px solid #ddd;
  box-sizing:border-box;
}

.result .copylink-button {
  padding: 10px 15px;
  border-radius:25px;
  color: #FFFFFF;
  background-color:#2F80ED;
  border:none;
}

/* エラーメッセージポップアップ */
.popup {
  display:none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}
.popup-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}
.loader {
  -webkit-animation: visibleOnLoad .3s;
  animation: visibleOnLoad .3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  display: none;
  margin-top: calc(50vh - 143px);
  margin-left: auto;
  margin-right: auto;
  padding: 32px 36px 43px;
  max-width: 400px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.loader h1 {
  margin-bottom: 30px; 
  font-size:18px;
  line-height: 27px;
  color:#4F4F4F;

}
.loader_wrapper {
  height: 6px;
  background: #F2F2F2;
  border-radius: 8px;
  overflow: hidden; 
}
.loader_wrapper-runner {
  height: 100%;
  width: 100px;
  background: #2F80ED;
  border-radius: 8px;
  position: relative;
  -webkit-animation: loader 1.5s infinite;
  animation: loader 1.5s infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; 
}
@-webkit-keyframes loader {
  from {
    left: -100px; }
  to {
    left: 400px; } }

@keyframes loader {
  from {
    left: -100px; }
  to {
    left: 400px; } }

@-webkit-keyframes visibleOnLoad {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes visibleOnLoad {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

